.main{
    border: 3px solid darkblue;
    border-radius: 10px;
    margin: 0 auto;
    width: 40%;
    
    .container{
        text-align: center;
        h1{
            padding: 10px 0 ;
            border-bottom: 3px solid darkblue;
            border-radius: 5px; 
        }
        form{
            padding: 20px 10px;
            button{
                margin: 20px 0;
            }
        }
    }
}
.mat-form-field {
    width: 80%;
    height: 75px;
}




// .example-container .mat-form-field + .mat-form-field {
//     margin-left: 8px;
//   }
  
//   .example-right-align {
//     text-align: right;
//   }
  
//   input.example-right-align::-webkit-outer-spin-button,
//   input.example-right-align::-webkit-inner-spin-button {
//     display: none;
//   }
  
//   input.example-right-align {
//     -moz-appearance: textfield;
//   }