
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }
  
  td, th {
    text-align: left;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  button{
      margin: 4px 10px;
  }



