.container {
    text-align: center;
    border: 2px solid rgb(85, 87, 255);
    width: 40%;
    margin: 100px auto;
    input{
        margin-bottom: 10px;
        width: 60%;
        padding: 5px;
    }
    button{
        padding: 10px;
        margin: 10px;
    }
}

input.ng-dirty.ng-valid {
    border: 2px solid green;
}

input.ng-dirty.ng-invalid {
    border: 2px solid red;
}
input:focus{
    outline: none;
}