.dashboard-main {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
    .items {
        cursor: pointer;
        width: calc(100% - 30px);
        margin :10px
    }
}