.container {
    width: 100%;
}
.header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 10px #aba9a9;
}
.menu {
    display: flex;
    justify-content: space-between  ;
    padding: 10px;
    margin: 0 30px;
}
.logo {
    padding: 10px 10px;
}
.menu ul {
    display: flex;
}
.menu ul li {
    list-style-type: none;
    padding: 10px 0;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 10px 20px;
    &:hover {
        color : white;
        background-color: #3f51b5;
        border-radius: 50px;
        transition: 0.3s;
    }
}

  