<div class="heaing">
    <h1>Age Calculator</h1>
</div>
<div class="age">
    <div class="age-main">
        <mat-form-field appearance="fill">
            <mat-label>BirthDate</mat-label>
            <input  matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>BirthDate</mat-label>
            <input  matInput [matDatepicker]="picker1" placeholder="Choose a date">
            <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <button>Submit</button>
    </div>
    <div class="counting">
        <table>
            <div>
                <tr>
                    <td>Age:</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Months:</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Weeks :</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Days:</td>
                    <td>0</td>
                </tr>

            </div>
            <div class="add">
                <tr>
                    <td>Hours:</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Minutes:</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Seconds:</td>
                    <td>0</td>
                </tr>
            </div>
        </table>
        <a href="">More</a>
    </div>
</div>