<div class="age">
    <div class="age-main">
        <mat-form-field appearance="fill">
            <mat-label>BirthDate</mat-label>
            <input  matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>BirthDate</mat-label>
            <input  matInput [matDatepicker]="picker1" placeholder="Choose a date">
            <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

    </div>
</div>