.heaing{
    h1{
        font-size: 30px;
        margin: 35px;
    }
}
.age {
    width: 100%;
    border: 3px dashed gray;
    border-radius: 10px;
    padding: 30px 50px 30px 30px;
    display: flex;
    justify-content: space-between;
    .age-main {
        padding: 10px;
        display: block;
        width: 30%;
    }
    .counting{
        position: relative;
        border-radius: 10px;
        width: 50%;
        padding: 10px;
        background-color: rgba(0,0,0,.04);
        padding-bottom: 35px;
        th, td {
            padding: 10px 15px;
            text-align: left;    
        }
        .more{
            overflow: hidden;
            transition: 0.4s all;
            &.hide
            {
                height: 0;
            }
            &.show 
            {
                height: 130px; 
            }
        }
        a{
            position: absolute;
            right: 50px;
            color: darkblue;
            &:hover{
                color:#ff3636;
            }
        }
    }   
}
