.main{
    border: 3px solid darkblue;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    
    .container{
        text-align: center;
        h1{
            padding: 10px 0 ;
            border-bottom: 3px solid darkblue;
        }
        form{
            padding: 20px 10px;
            button{
                margin: 35px 0 20px 0;
            }
        }
    }
}
.mat-form-field {
    width: 45%;
    height: 75px;
}