.sidebar-content {
    top: 0;
    width: 250px;
    background: #fdd835;
    height: 100vh;
    color: white;
    position: fixed;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 99;
    overflow: auto;
    padding: 0px 20px;
}

.header-content {
    width: calc(100% - 250px);
    left: 250px !important;
    top: 0;
    position: fixed;
    left: 90px;
    z-index: 5;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main-content {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 25px;
    min-height: 100vh;
    padding-top: 75px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}